extends layout

block content
    section.contact
        .jumbotron
            h1 CONTACT
            h2 under construction
        .info
            h3 wanna feel again the experience of sharing music?
            p.center coming soon