extends layout

block content
    section.landing
        h1 Wanna feel again the experience of 
        h1 sharing music?
        .jumbotron
            ul
                li Find new trending artists, play their full albums.
                li Create your own playlists.
                li SHARE your favorite song with your friends.
        .info
            p.center We use Jamendo as our music source.
            p.center Jamendo is all about royalty free music… Nice!!
