extends layout

block link
    -var selected = '/';

block content
    section.landing
        .info
            h1 Wanna feel again the experience of sharing music?
        .flexy
            .x1
                img(src='../images/Screenshot_2.png', height="400px")
            .x2
                img(src='../images/cassette.png', height="250px")
            .x3
                ul.description
                    li <strong>FIND</strong> new trending songs, artists, play their full albums.
                    li <strong>CREATE</strong> your own playlists.
                    li <strong>SHARE</strong> your favorite song with your friends.
        .info
            p.center We use Jamendo as our music source.
            p.center Jamendo is all about royalty free music… Nice!!
