extends layout

block link
    -var selected = '/';

block content
    section.landing
        h1 Wanna feel again the experience of 
        h1 sharing music?
        .table
            .cel.cel-1-3
                img(src='../images/Screenshot_2.png', height="400px")
            .cel.cel-1-3
                img(src='../images/cassette.png', width="300px")
            .cel.cel-1-3
                ul.description
                    li Find new trending songs, artists, play their full albums.
                    li Create your own playlists.
                    li SHARE your favorite song with your friends.
        .info
            p.center We use Jamendo as our music source.
            p.center Jamendo is all about royalty free music… Nice!!
