extends layout

block content
    section.screenshoots
        .jumbotron
            h1 HOW IT FEELS
            h2 under construction
        .info
            h3 wanna feel again the experience of sharing music?
            p.center coming soon