html
    head
        meta(charset="UTF-8")
        meta(name="theme-color", content="#E91E63")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Quicksand:300,700")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/css/styles.css")
        title=title
    body
        .container
            header.header
                ul.nav
                    each anchor in anchors
                        li: a(href=anchor.link) #{anchor.text}

            .content
                block content
            
            footer.footer
                .table
                    .cel-1-2
                        p hecho con 
                            i(class="fa fa-heart red")
                            |  por    
                            a.text(href="mailto:ricardo.martinez.monje@gmail.com") Ricardo Martínez

                    .cel-1-2
                        ul
                            li: a.ico(href="https://www.linkedin.com/in/ricardomartinezmonje/", target="_blank")
                                i(class="fa fa-2x fa-linkedin" aria-hidden="true")
                            li: a.ico(href="https://github.com/mtzfactory", target="_blank")
                                i(class="fa fa-2x fa-github" aria-hidden="true")
                            li: a.ico(href="https://www.facebook.com/mtzFactory", target="_blank")
                                i(class="fa fa-2x fa-facebook-official" aria-hidden="true")
                            li: a.ico(href="https://twitter.com/mtz1976", target="_blank")
                                i(class="fa fa-2x fa-twitter" aria-hidden="true")

        //- script(type="text/javascript" src="")
        //- script(type='text/javascript', src='/vendor/jquery/1.12.4/jquery.min.js')
        //- script(type='text/javascript', src='/vendor/bootstrap/3.3.7/js/bootstrap.min.js')
