@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Pompiere|Quicksand|Rubik+Mono+One");
* {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #434343; }

/* body:before will also work as will body:after */
:root:before {
  content: url(../images/Screenshot_2.png) url(../images/Screenshot_3.png) url(../images/Screenshot_4.png) url(../images/Screenshot_7.png) url(../images/Screenshot_8.png) url(../images/cassette.png);
  /* partial fallback */
  background-image: url(../images/Screenshot_2.png);
  visibility: hidden;
  position: absolute;
  left: -999em; }

ul {
  margin: 0;
  padding: 0; }

.info {
  margin-top: 3rem;
  color: #009688; }

p.title {
  margin: 80px 0 30px 0;
  color: #009688; }

p.center {
  text-align: center; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw; }

.content {
  flex: 1 0; }

/*
 -- HEADER
 */
header.header {
  margin: 0 30px;
  padding: 30px 0; }
  header.header h3 {
    color: #009688; }
  header.header ul.nav {
    list-style: none;
    text-align: center; }
    header.header ul.nav > li {
      display: inline-block;
      margin-left: 1rem; }
    header.header ul.nav > li:before {
      content: "/";
      padding-right: 1rem;
      font-size: 0.6rem;
      color: #009688; }
    header.header ul.nav > li:first-of-type:before {
      content: "";
      padding-right: 0; }
    header.header ul.nav a {
      padding: 5px 1rem;
      text-decoration: none;
      color: #009688; }
    header.header ul.nav a.selected {
      border-bottom: solid 2px #E91E63; }
    header.header ul.nav a:hover {
      background: rgba(0, 0, 0, 0.2);
      border-bottom: solid 2px #E91E63; }
    header.header ul.nav a:focus {
      color: #42423f; }

/*
 -- SECTIONS
*/
section.landing h1, section.landing h2, section.landing h3 {
  text-align: center;
  color: #009688; }
section.landing h1 {
  font-size: 32px;
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: bold;
  line-height: 42px; }
section.landing > .flexy {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  section.landing > .flexy > .x1, section.landing > .flexy > .x2, section.landing > .flexy > .x3 {
    width: 33%; }
section.landing ul.description {
  list-style: none;
  text-align: left;
  margin: 0 20px; }
  section.landing ul.description li {
    color: #009688;
    margin-top: 30px; }

section.screenshoots {
  display: flex;
  justify-content: center;
  align-items: center; }
  section.screenshoots h1, section.screenshoots h2, section.screenshoots h3 {
    text-align: center; }
  section.screenshoots .images {
    display: inline-block;
    margin: 0 auto; }
  section.screenshoots img {
    margin-right: 10px;
    margin-bottom: 10px; }
  section.screenshoots img:last-of-type {
    margin-right: unset; }

section.contact h1, section.contact h2, section.contact h3 {
  text-align: center; }
section.contact form {
  max-width: 600px;
  margin: 20px auto; }
  section.contact form .form-group {
    margin-top: 1em; }
  section.contact form label {
    color: white; }
  section.contact form input, section.contact form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 5px;
    resize: none; }
  section.contact form #input-submit {
    color: white;
    background: #009688;
    cursor: pointer;
    margin-top: 30px; }
  section.contact form textarea {
    height: 232px; }

/*
 -- FOOTER
 */
footer.footer {
  padding-bottom: 16px; }
  footer.footer p, footer.footer p a {
    color: #009688;
    font-size: 12px; }
  footer.footer a {
    color: #009688;
    text-decoration: none; }
  footer.footer a.text:hover {
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: solid 2px #E91E63; }
  footer.footer i.red {
    color: #E91E63; }
  footer.footer .left {
    float: left; }
  footer.footer .right {
    float: right; }
  footer.footer ul {
    list-style: none; }
    footer.footer ul li {
      display: inline-block;
      margin-left: 3rem; }
      footer.footer ul li > a {
        color: rgba(240, 240, 240, 0.5); }
      footer.footer ul li > a.ico:hover {
        color: #009688;
        border-bottom: solid 2px #E91E63; }
    footer.footer ul > li:first-of-type {
      margin-left: 0; }
    footer.footer ul li > i:hover {
      color: #009688; }

/*  */
.table {
  display: table;
  width: 100%; }

.cel {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.cel-1-2 {
  width: 50%; }
  .cel-1-2 > h1, .cel-1-2 h2, .cel-1-2 h3 {
    margin: 0; }

.cel-1-3 {
  width: 33.3%; }
  .cel-1-3 > h1, .cel-1-3 h2, .cel-1-3 h3 {
    margin: 0; }

.cel-2-3 {
  width: 66.6%; }
  .cel-2-3 > h1, .cel-2-3 h2, .cel-2-3 h3 {
    margin: 0; }

/*  */
.half {
  float: left;
  width: 48%;
  margin-bottom: 1em; }

.right {
  width: 50%; }

.left {
  margin-right: 2%; }

@media (max-width: 620px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0; }

  header.header ul.nav {
    line-height: 30px; }
    header.header ul.nav > li:before {
      content: none;
      padding-right: unset; }

  section.contact p.title {
    margin: 10px 0 10px 0; }
  section.contact form {
    margin: 20px 20px 0 20px; }
    section.contact form textarea {
      height: 142px; }

  footer.footer {
    margin-top: 32px; } }
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/*# sourceMappingURL=styles.css.map */
