@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Pompiere|Quicksand|Rubik+Mono+One');

$SKY: #CAEBF2;
$CARBON: #A9A9A9;
$WATERMELON: #FF3B3F;
$NEUTRAL: #EFEFEF;
$BLODY: #E91E63;
$BLUE_STEEL: #0375B4;
$FOOTER_HEIGHT: 32px;
$GREEN: #009688;

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    background-color: $NEUTRAL;
}

ul { margin: 0; padding: 0; }

.container {
    min-height: 100%;
    position: relative;

    //background-image: url('../images/background.png');
    background-color: rgb(67,67,67);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    height: 100%;
}
.content { padding-bottom: $FOOTER_HEIGHT; }

/*
 -- HEADER
 */
 header.header {
    margin: 0 30px;
    padding: 30px 0;

    & h3 { color: $GREEN }

    & ul.nav {
        list-style: none;
        text-align: center;

        & > li { display: inline-block; margin-left: 1rem; }
        & > li:before { content: "/"; padding-right: 1rem; font-size: 0.6rem; }
        & > li:first-of-type:before { content: ""; padding-right: 0; }

        & a { padding: 5px 1rem; text-decoration: none; color: $GREEN }
        & a.selected { border-bottom: solid 2px $BLODY; }
        & a:hover { background: rgba(0, 0, 0, 0.1); border-bottom: solid 2px $BLODY; }
        & a:focus { color: rgb(66, 66, 63); }
    }
}

section.landing {
    h1, h2, h3 {
        text-align: center;
        color: $GREEN
    }
    & > h1 {
        font-size: 32px;  
        font-family: 'Rubik Mono One', sans-serif;
        font-weight: bold;
    }
    & .flexy {
        display: flex;
        justify-content: space-around
    }

    & ul.description {
        list-style: none;
        text-align: left;
        margin: 0 20px;
        & li {
            color: $GREEN;
            margin-top: 30px;
        }
    }
}

section.screenshoots {
    h1, h2, h3 {
        text-align: center;
    }
    .images {
        display: flex;
        height: calc(100% - 110px); // 60px = header, 50px footer
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    img {
        margin: 20px;
    }
}

section.contact {
    h1, h2, h3 {
        text-align: center;
    }

    form {
        max-width: 600px;
        margin: 20px auto;

        & .form-group { margin-top: 1em; }

        & label { color: white }

        & input, & textarea {
            border:0; outline:0;
            padding: 1em;
            border-radius: 8px;
            display: block;
            width: 100%;
            margin-top: 5px;
            resize: none;
        }
       
        & #input-submit {
            color: white; 
            background: $GREEN;
            cursor: pointer;
            margin-top: 30px;
        }
       
        & textarea {
            height: 232px;
        }
    } 
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-top: 2rem;
    //background-color: rgba(255, 255, 255, 0.5);

    & > h1 {
        color: rgba(0, 0, 0, 0.5);
        font-size: 48px;  
        font-family: 'Rubik Mono One', sans-serif;
        font-weight: bold;
    }

    & ul { list-style: none; 
        & > li {
            margin-top: 15px
        }
    }
}

.info { margin-top: 3rem; color: $GREEN }

p.title { margin: 80px 0 30px 0; color: $GREEN }
p.center { text-align: center; }

/*
 -- FOOTER
 */
footer.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $FOOTER_HEIGHT;
    margin-bottom: 16px;
    text-align: center;

    p, p a { color: $GREEN; font-size: 12px; }
    a { color: $GREEN; text-decoration: none; }
    a.text:hover { padding: 5px 0; background: rgba(0, 0, 0, 0.05);  border-bottom: solid 2px $GREEN; }
    i.red { color: $BLODY; }
    & .left { float: left; }
    & .right { float: right;}
    & ul {
        list-style: none;
        & li {
            display: inline-block; margin-left: 3rem;
            & > a { color: rgba(240, 240, 240, 0.5) }
            & > a.ico:hover { color: $GREEN; border-bottom: solid 2px $BLODY; }
        }
        & > li:first-of-type { margin-left: 0; }
        & li > i:hover { color: $GREEN }
    }
}

/*  */
.table { display: table; width: 100%; }

.cel {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.cel-1-2 { width: 50%; & > h1, h2, h3 { margin: 0; } }
.cel-1-3 { width: 33.3%; & > h1, h2, h3 { margin: 0; }}
.cel-2-3 { width: 66.6%; & > h1, h2, h3 { margin: 0; }}


/*  */
.half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}

.right { width: 50%; }

.left {
    margin-right: 2%; 
}

@media (max-width: 620px) {
    .half {
        width: 100%; 
        float: none;
        margin-bottom: 0;
    }
    section.contact {
        p.title { margin: 10px 0 10px 0}
        form {
            margin: 20px 20px 0 20px;

            textarea { height: 142px; }
        }
    }
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}